
#show-eye   {content: url('../img/girl/eye/星途女瞳.png');}
#show-hair  {content: url('../img/girl/hair/天使街女发（金）.png');}
#show-body  {content: url('../img/girl/body/软萌白猫女装.png');}
#show-face  {content: url('../img/girl/face/公主腮红.png');}
#show-cap   {content: url('../img/girl/cap/波点星星发饰.png');}

#banner::after {content: 'PICATOWN';}

#tab-body::after    {content: '衣服';}
#tab-hair::after    {content: '头发';}
#tab-eye::after     {content: '眼瞳';}
#tab-face::after    {content: '面饰';}
#tab-cap::after     {content: '头饰';}

#sex[sex='boy']::after  {content: '男';}
#sex[sex='girl']::after {content: '女';}